body {
  background: #1d1d1d;
}

.container {
  max-width: 595px;
  margin: 0 auto;
}

.header {
  position: relative;
  height: 155px;
  background: url(../images/header-background.jpg);
}

.header-name-section {
  position: absolute;
  top: 22px;
  left: 11px;
  font-family: Syne, sans-serif;
  color: #fefefe;
}

.header-name-section * {
  display: block;
  margin: 0;
}

.header-name {
  font-size: 26px;
}

.header-hometown {
  font-size: 12px;
}

.header-contacts {
  position: absolute;
  top: 60px;
  right: 200px;
  line-height: 12px;
  font-size: 10px;
  font-family: Lato, sans-serif;
}

.header-contacts * {
  color: #fefefe;
  text-decoration: none;
}

.header-paper {
  position: absolute;
  top: 0;
  right: 0;
}

.header-arrows {
  position: absolute;
  top: 85px;
  right: 100px;
  width: 147px;
  height: 51px;
  background: url(../images/header-arrows.png) no-repeat;
}

.header-arrows-text {
  margin: 25px 44px;
  padding: 0;
  transform: rotate(-4deg);
  font-family: Syne, sans-serif;
  font-size: 9px;
  letter-spacing: -0.02em;
  color: #fff;
}

.header-github {
  position: absolute;
  right: 30px;
  bottom: 10px;
  margin: 0;
}

.header-github * {
  font-family: Lato, sans-serif;
  font-size: 10px;
  line-height: 11px;
  color: #fefefe;
  text-decoration: none;
}

.header-vibes {
  position: absolute;
  left: 0;
  top: 120px;
}

.belowheader-line {
  margin: 0;
  width: 100%;
  height: 7px;
  background: #fefefe;
  border: none;
}

.main-block {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.main-leftcol,
.main-rightcol {
  width: 50%;
}

.main-heading {
  margin: 30px 0 0 0;
  font-family: Syne, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #fefefe;
}

.main-line {
  display: block;
  margin: -5px auto;
}

.main-skills-block {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 0;
  list-style: none;
}

.main-skills-image {
  display: block;
  margin: 0 auto;
  width: 75%;
  color: #fefefe;
  transition: color 0.2s linear;
}

.main-skills-image-html:hover {
  color: #ef652a;
}

.main-skills-image-css:hover {
  color: #039be5;
}

.main-skills-image-js:hover {
  color: #fdd83c;
}

.main-skills-image-git:hover {
  color: #de4c36;
}

.main-skills-text {
  margin: 5px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #fefefe;
}

.main-text {
  margin: 10px 20px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: justify;
  line-height: 1.6;
  color: #fefefe;
}

.main-courses-list {
  padding-left: 16px;
}

.main-code-pre {
  margin: 0 0 -50px 0;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  font-size: 14px;
  text-align: justify;
  line-height: 1.6;
  color: #bdbdbd;
}

.main-courses-name {
  font-weight: 700;
}

.main-courses-link {
  color: #fefefe;
  text-decoration: none;
}

.main-limitation {
  position: absolute;
  z-index: -1;
  top: 670px;
  left: 0;
}

.main-photo-image {
  display: block;
  margin: 30px auto;
}

.main-career {
  position: absolute;
  top: 250px;
  right: 0;
}

.main-experience-figure {
  margin: 10px 0;
}

.main-experience-figure-title {
  font-family: Syne, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  color: #fefefe;
}

.main-experience-figure-link {
  color: #fefefe;
  text-decoration: none;
}

.main-experience-figure-image {
  display: block;
  margin: 5px auto;
  width: 275px;
  border: 2px solid #fefefe;
  border-radius: 5%;
  transition: transform 0.1s linear, box-shadow 0.1s linear;
}

.main-experience-figure-image:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #fefefe;
}

.main-contacts-images {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: 10px auto;
}

.main-contacts-icon {
  color: #fefefe;
  width: 40px;
  transition: transform 0.1s linear;
}

.main-contacts-icon:hover {
  transform: scale(1.2);
}

.footer {
  background: url(../images/footer-background.png) no-repeat;
  background-position: top center;
  padding-top: 35px;
  padding-bottom: 5px;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-github,
.footer-rs {
  margin: 0 10px;
  color: #1d1d1d;
}

.footer-github {
  width: 30px;
}

.footer-rs {
  width: 70px;
}

.footer-year {
  display: flex;
  justify-content: center;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #1d1d1d;
}
